/* estilos globales */
*{
    font-family: sans-serif;
}

/* estilos para el body de todas las paginas */
body{
    margin: 0;
}

/* estilos para centrar los textos */
.textocentrado{
    text-align: center;
}

/* estilos para colocar fondo azul */
.fondoazul{
    background-color: #426edb;
}

/* estilo para colocar elementos flexibles */
.pantallaflexible{
    display: flex;
}

/* estilo para colocar elemento como bloques */
.pantallabloque{
    display: block;
}

/* clase para colocar bordes redondeados */
.borderedondo{
    border-radius: 10px;
}

/* clase para colocar cualquier texto blanco */
.textoblanco{
    color: white;
}

/* estilos para el contenedor del menu */
.menuPrincipal{
    background-color: white;
    overflow: auto;
}

/* estilos para los links del menu */
.menuPrincipal a {
    float: left;
    color: black;
    padding: 12px;
    text-decoration: none;
    font-size: 17px;
}

/* estilos para cuando el mouse este encima de los links del menu */
.menuPrincipal a:hover {
    background-color: rgb(163, 162, 162);
    color: white;
}

/* estilos para cuando una de las pagina del link se este viendo */
.menuPrincipal a.active {
    background-color: #426edb;
    color: white;
}

/* estilos para el contenedor de la barra de busqueda del menu */
.barraBusqueda{
    text-align: right;
    overflow: hidden;
    background-color: white;
}

/* estilos para el input de la barra de busqueda del menu */
.barraBusqueda input {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    background-color: #f5f5f5;
}

/* estilos para el boton de la barra de busqueda del menu */
.barraBusqueda button {
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    background: #426edb;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

/* estilos para el contenedor de la pagina de contacto */
#contenedorcontacto{
    display: flex;
}

/* estilos para el titulo de la pagina de contacto */
#titulocontactato{
    text-align: center;
}

/* estilos para el contenedor de la imagen contactanos */
#imagen{
    margin-top: 8%;
    width: 50%;
}

/* estilos para el contenedor del formulario */
#formulario{
    width: 50%;
    margin-top: 40px;
    background-color: #7cddee;
    border-radius: 50px;
    margin-right: 100px;
}

/* estilos para la etiqueta form */
#formulario form{
    padding: 50px;
}

/* estilos para los inputs y el textarea del formulario de contacto */
#formulario input, textarea{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* estilos para los inputs del formulario de contacto */
#formulario input[type=submit] {
    width: 100%;
    background-color: #426edb;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 30px;
}

/* estilos cuando el mpuse esta encima del boton formulario */
#formulario input[type=submit]:hover {
    background-color: rgb(163, 162, 162);
    color: black;
}

/* estilos para la imagen de contactanos */
#fondocontacto{
    width: 70%;
}

/* estilos para el footer */
footer{
    display: flex;
    background-color: #426edb;
    margin: 0;
    margin-top: 30px;
}

/* estilo para todos los iconos con esta clase */
.fa{
    padding: 20px;
    font-size: 30px;
    padding-inline: 5px;
}

/* estilo para los links del footer */
footer a {
    color: black;
}

/* estilos cuando el mouse esta encima de los links */
footer a:hover {
    color: white;
}

/* estilos para el menu del footer */
#menucontainer{
    text-align: center;
    margin-top: 25px;
    margin-left: 20%;
}

/* estilos para el menu del footer cuando el mouse esta encima */
#menucontainer a{
    padding-inline: 10px;
    text-decoration: none;
}

/* estilos para el texto donde aparecen las iniciales del grupo en el footer */
#integrantes{
    margin-top: 25px;
    margin-left: 25%;
}

/* estilos del contenedor de todo el carrusel */
.carrusel {
    position: relative;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
    margin-top: 26px;
}

/* estilos para el carrusel */
.carrusel-dentro {
    position: relative;
    overflow: hidden;
    width: 100%;
}

/* estilos para el input que esta seleccionado y para la pantalla que se muestre */
.carrusel-mostrar:checked + .carrusel-pantalla {
    position: static;
    opacity: 100;
}

/* estilos para todas los items del carrusel */
.carrusel-pantalla {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

/* estilos para todas las imagenes de los items del carrusel */
.carrusel-pantalla img {
    display: block;
    height: auto;
    width: 100%;
    height: 600px;
}

/* estilo para los botones del carrusel */
.carrusel-boton {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

/* estilos para el boton de atras carrusel */
.carrusel-boton.anterior {
    left: 2%;
}

/* estilos para el boton de siguiente carrusel */
.carrusel-boton.siguiente {
    right: 2%;
}

/* estilos al estar el mouse encima del boton carrusel */
.carrusel-boton:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

/* estilos para los radio buttons cuando estan seleccionados */
#carrusel-1:checked ~ .boton-1,
#carrusel-2:checked ~ .boton-2,
#carrusel-3:checked ~ .boton-3 {
    display: block;
}

/* estilos de indicador de item en carrusel */
.carrusel-indicador {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

/* estilos de los "li" de indicador de item en carrusel */
.carrusel-indicador li {
    display: inline-block;
    margin: 0 5px;
}

/* estilos para el punto que indica el item carrusel */
.carrusel-punto {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 35px;
}

/* estilos cuando el mouse esta encima del punto que indica el item carrusel */
.carrusel-punto:hover {
    color: #aaaaaa;
}

/* estilos para los radio buttons cuando estan seleccionados */
#carrusel-1:checked ~ .boton-1 ~ .carrusel-indicador li:nth-child(1) .carrusel-punto,
#carrusel-2:checked ~ .boton-2 ~ .carrusel-indicador li:nth-child(2) .carrusel-punto,
#carrusel-3:checked ~ .boton-3 ~ .carrusel-indicador li:nth-child(3) .carrusel-punto {
    color: #428bca;
}

/* contenedor para para las tarjetas */
.contenedortarjetas{
    display: flex;
}

.tarjeta {
    /* efectos de sombra para las tarjetas */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin: 10px;
}

/* efecto cuando el mouse esta encima */
.tarjeta:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* padding dentro de las tarjetas */
.contenedortarjeta {
    padding: 2px 16px;
}

/* titulo para los productos destacados */
#titulodestacado{
    font-size: 50px;
}

/* tarjeta larga con imagen a la izquierda */
#informacionrapidaizquierda{
    background-color: #426edb;
    margin: 20px;
    border: 2px transparent;
    border-radius: 20px;
    padding: 5px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* parrafo de tarjeta larga con imagen a la izquierda */
.parrafoinformacionrapidaizquierda{
    padding-top: 5%;
    padding-inline: 5%;
}

/* boton de tarjeta larga con imagen a la izquierda */
.botoninformacionrapidaizquierda{
    margin-left: 40%;
    background-color: transparent;
    border: 2px solid;
    border-radius: 10px;
    font-size: 25px;
    color: white;
}

/* efecto (mouse encima) boton de tarjeta larga con imagen a la izquierda */
.botoninformacionrapidaizquierda:hover{
    color: black;
    cursor: pointer;
}

/* tarjeta larga con imagen a la derecha */
#informacionrapidaderecha{
    background-color: white;
    margin: 20px;
    border: 2px transparent;
    border-radius: 20px;
    padding: 5px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    display: flex;
}

/* boton de tarjeta larga con imagen a la izquierda */
.botoninformacionrapidaderecha{
    margin-left: 40%;
    background-color: transparent;
    border: 2px solid;
    border-radius: 10px;
    font-size: 25px;
    color: black;
    margin-bottom: 2%;
}

/* efecto (mouse encima) boton de tarjeta larga con imagen a la izquierda */
.botoninformacionrapidaderecha:hover{
    color: gray;
    cursor: pointer;
}

/* parrafo de tarjeta larga con imagen a la derecha */
.parrafoinformacionrapidaderecha{
    padding-top: 2%;
    padding-inline: 10%;
}

/* imagen de tarjeta larga con imagen a la derecha */
.imagenderecha{
    width: 70%;
    padding-top: 1%;
}

/* parrafo de tarjeta larga con imagen a la derecha */
.textoizquierda{
    width: 30%;
}

/* título de tarjeta larga con imagen a la izquierda */
#titulodestacadoizquierda{
    margin-left: 40%;
}
  
                            /*------------------Parte de Enzo -------------------*/
                            /*---------------------------------------------------*/


    
    /*El tercer nivel*/


#contenedor{
    grid-template-columns: 1fr;
    display: grid;
    background-color: rgb(217, 222, 245);
    
}

#sidebar{
    display: fixed;
}
.atajos{
    
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

input{
    visibility: hidden;
    display: none;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 13%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
    
    box-shadow: 1px 2px 6px;
    
}
li{
    line-height: 40px;
}
/*El hover es para poner un fondo cuando pasemos el cursor*/

li:hover{
    background-color: #4879f7;
    color: white;
}



.principal{
    grid-column: 1 / 1;
    margin-left: 170px;
    grid-template-rows: repeat(20, auto);
   
    
    background-color: #4879f7 ;
    margin-bottom: 10px;
    
    
    margin-top: 10px;
    box-shadow: 1px 1px 10px black;
    margin-right: 20px;
    margin-top: 20px;
}
.titulogeneral{
    grid-column: 1 / 5;
    text-align: center;
    
    font-size: 35px;
}
.titulo{
    grid-column: 1 / 5;
    text-align: center;
    font-size: 30px;
}

section{
    margin: 20px;
    grid-column: 1 / 5;
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 1px 1px 10px black;
}
.seccion1{
    grid-column: 1 / 1;
    text-align: justify;
    margin-left: 10%;
    margin-right: 10%;
    align-self: center;
    
}
.seccion1 h3{
    margin: 0;
    padding: 0;
}

.seccion2{
    grid-column: 2 / 4;
    justify-items: center;
    display: grid;
}
.seccion2 h2{
    
    margin: auto;
    
    font-size: 40px;
}
.seccion2 .modelo{
    
    width: 80%;
    
    
    
    
}

.tiendas{
    grid-column: 1 / 5;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;

}
.marca{
   
    width: 50%;
    margin: 10%;
    border: 1px solid black;
    background-color: white;
    padding: 5%;
    border-radius: 5px;
    /*      (El segundo es para la derecha)    */
    
    
    
    margin: 10px;
}
.marca:hover{
    
    box-shadow: 0 4px 12px 0 rgba(0,0,0,0.2);
    color: white;
    transition: 0.5s;
}


.seccion3{
    grid-column: 4 / 4;
    text-align: justify;
    margin-right: 10%;
    align-self: center;
}
.seccion3 img{
    width: 80%;
    align-items: center;
}
@media (max-width:768px){
    
    .principal{
        margin-left: 15px;
    }
    section{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .seccion3{
        visibility: hidden;
        display: none;
    }
    .tiendas{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .marca4{
        visibility: hidden;
        display: none;
    }
    ul{
        
        height: 20%;
    }
    li{
        font-size: 16px;
    }
}

@media (max-width:478px){
    #contenedor{
        display: grid;
        
    }
    
    
    section{
        display: grid;
    }
    #sidebar{
        position: fixed;
        
    }
    #sidebar > .boton{
        
        position: fixed;
        right: 10;
        top: 10;
        background-color: #124de4;
        border: 1px solid black;
        
    }
    input{
        visibility: hidden;
    }
    /*El modelo del responsive*/
    #sidebar > .boton > label{
        display: inline-block;
        width: 10px;
        height: 20px;
        padding: 5px;
    }
    span{
        
        display: block;
        width: 10px;
        height: 10px;
        border-top: 2px solid #eee;
    }
    /*LA parte de aentro*/
    #sidebar > ul{
        position: absolute;
        display: block;
        width: 150px;
        background-color: white;
        height: 0px;
        transition: all 0.3s ease-in;
        
        top: 65px;
        left: 2;
    }
    #sidebar > ul > a{
        display: block;
        width: 80%;
    }
    #sidebar > #click:not(:checked) ~ ul{
        height: 0px;
    }
    #sidebar > #click:checked ~ ul{
        overflow: auto;
        height: 170px;
    }
    .principal{
        
        display: grid;
        
    }
    section{
        display: grid;
        grid-template-columns: 1fr;
    }
    .seccion3{
        display: none;
        visibility: hidden;
    }
    .seccion2 .modelo{
        width: 60%;
    }
    .seccion1{
        grid-column: 1 / 2;
    }
    .seccion2{
        grid-column: 1 / 2;
    }
    .tiendas{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-self: center;
    }
    .marca{
        width: 70%;
    }
    .marca4{
        visibility: hidden;
        display: none;
    }
}





        /*----------Pagina de Ropa-----------*/

.principalcontenedor{
    display: grid;
    grid-template-columns: 35% 45% auto;
    grid-template-rows: repeat(4, auto);
    
    
}

.principalheader{
    grid-column: 1 / 4;
    text-align: center;
    
    
    margin: auto;
    margin-top: 20px;
    
}

.principalanuncio{
    
    
    
    grid-column: 3 / 4;
    grid-row: 2 / 5;
    align-self: center;
    width: 90%;
    height: 90%;
    margin-left: 20px;
}

.principalseccion1{
    margin-left:  20px; 
    grid-column: 1 / 2;   
}

.principalseccion1 h2{
    
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
    
    
}

.principalimagen{
    
    width: 80%;
    height: 250px;
}

.principalseccion2{
    text-align:center;
    align-self: center;
    grid-column: 2 /3;
    font-size: 20px;
}


@media (max-width:478px){

    /* Aquí van todos los estilos CSS */

    .principalcontenedor{
        
        display: grid;
        grid-template-columns: 1fr 30%;
        grid-template-rows: repeat(6, auto);
    }
    .principalheader{
        
        text-align: center;
        

    }
    .principalseccion1{
        grid-column: 1 / 3;
        align-items: center;
        margin-right: 70px;
    }
    .principalseccion2{
        grid-column: 1 / 3;
        text-align: center;
        margin-left: 30px;
    }
    img.principalimagen{
        margin-left: 40px;
    }
    
    .principalanuncio{
       
        display: none;
        visibility:hidden;
        
    }
}


@media (max-width: 900px){
    /* Most of tablets and posibility phones*/
    .principalcontenedor{
        display: grid;
        grid-template-columns: 50% 40%;

    }

    .principalseccion1{
        margin: auto;
        margin-left: 20px;
    }

    .principalseccion2{
        font-size: 110%;
    }

    .principalanuncio{
        display: none;
        visibility: hidden;
    }
}








/*Css de Mauricio*/
.bisuteriajoyasrelojes {
    display: grid;
    grid-template-columns: 500px 500px 200px;
    grid-gap: 20px;
}

.imagenbisuteriareloj {
    width: 60%;
    height: 90%;
    margin-left: 150px;
    margin-right: 10px;
    background: brown;
    border: 10px groove rgb(209, 124, 27);
}

.textobisuteriajoyasrelojes {
    border: 2px groove mediumorchid;
    padding-bottom: 20px;
    padding-top: 10px;
    padding-left: 10px;
    margin-bottom: auto;
    border-radius: 3px;
     text-align: center;
}

.spam {
    display: none;
    visibility:hidden;
    margin-left: 10%;
}

.bisuteriapulsera {
    width: 80%;
    height: 250px;
}