*{
    font-family: sans-serif;
}

body{
    margin: 0;
}

.menuPrincipal{
    background-color: white;
    overflow: auto;
}

.menuPrincipal a {
    float: left;
    color: black;
    padding: 12px;
    text-decoration: none;
    font-size: 17px;
}

.menuPrincipal a:hover {
    background-color: rgb(163, 162, 162);
    color: white;
}

.menuPrincipal a.active {
    background-color: #426edb;
    color: white;
}

.barraBusqueda{
    text-align: right;
    overflow: hidden;
    background-color: white;
}

.barraBusqueda input {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    background-color: #f5f5f5;
}

.barraBusqueda button {
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    background: #426edb;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

#contenedor{
    display: flex;
}

#titulocontactato{
    text-align: center;
}

#imagen{
    margin-top: 8%;
    width: 50%;
}

#formulario{
    width: 50%;
    margin-top: 40px;
    background-color: #7cddee;
    border-radius: 50px;
    margin-right: 100px;
}

#formulario form{
    padding: 50px;
}

#formulario input, textarea{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#formulario input[type=submit] {
    width: 100%;
    background-color: #426edb;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 30px;
}

#formulario input[type=submit]:hover {
    background-color: rgb(163, 162, 162);
    color: black;
}

#fondocontacto{
    width: 70%;
}

footer{
    display: flex;
    background-color: #426edb;
    margin: 0;
    margin-top: 30px;
}

.fa{
    padding: 20px;
    font-size: 30px;
    padding-inline: 5px;
}

footer a {
    color: black;
}

footer a:hover {
    color: white;
}

#menucontainer{
    text-align: center;
    margin-top: 25px;
    margin-left: 20%;
}

#menucontainer a{
    padding-inline: 10px;
    text-decoration: none;
}

#integrantes{
    margin-top: 25px;
    margin-left: 25%;
}
  
.carousel {
    position: relative;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
    margin-top: 26px;
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carousel-open:checked + .carousel-item {
    position: static;
    opacity: 100;
}

.carousel-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

.carousel-item img {
    display: block;
    height: auto;
    width: 100%;
    height: 600px;
}

.carousel-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.carousel-control.prev {
    left: 2%;
}

.carousel-control.next {
    right: 2%;
}

.carousel-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
    display: block;
}

.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
}

.carousel-bullet {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 35px;
}

.carousel-bullet:hover {
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
    color: #428bca;
}

#title {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), -1px 0px 2px rgba(255, 255, 255, 0);
}
                            /*------------------Parte de Enzo -------------------*/
                            /*---------------------------------------------------*/


    
    /*El tercer nivel*/

.contenedor{
    font-family: PredigeRoundedPanic;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(12, auto);
    text-align: center;
    
    
    grid-gap: 10px;
}
.titulo{
    text-align: center;
    grid-column: 1 / 5;
    margin-top: 40px;
    margin: auto;
    
    font-size: 50px;
    
}

.seccion1{
    
    grid-column: 1 / 1;
    text-align: justify;
    margin-left: 10%;
    margin-right: 0px;
    font-size: 20px;
}

.seccion2{
    
    grid-column: 2 / 4;
    
}
.seccion2 h2{
    
    margin: auto;
    
    font-size: 40px;
}
.seccion2 .modelo{
    width: 60%;
    
}



.marca{
    
    width: 60%;
    margin: 5%;
    align-items: center;
}


.seccion3{
    grid-column: 4 / 5;
    text-align: justify;
    margin-right: 10%;
    font-size: 20px;
}
.seccion3 img{
    width: 70%;
}

@media (max-width:478px){
    .contenedor{
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-rows: repeat(7, auto);
    }
    .titulo{
        grid-column: 1 / 3;
    }
    .seccion1{
        grid-column: 1 / 3;

    }
    .seccion2{
        grid-column: 1 / 3;
    }

    .seccion3{
        text-align: center;
    }
    
    
}

@media (max-width:900px){
    .contenedor{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

    }

    .seccion1{
        grid-column: 1 / 2;
        
        
    }
    .seccion2{
        
        
    }
    
    .seccion3{
        display: none;
        visibility: hidden;
    }

    .marca{
        grid-column: 1 / 3;
        align-items: center;
    }

}



        /*----------Pagina de Ropa-----------*/

.principalcontenedor{
    display: grid;
    grid-template-columns: 35% 45% auto;
    grid-template-rows: repeat(4, auto);
    
    
}

.principalheader{
    grid-column: 1 / 4;
    text-align: center;
    
    
    margin: auto;
    margin-top: 20px;
    
}

.principalanuncio{
    
    
    
    grid-column: 3 / 4;
    grid-row: 2 / 5;
    align-self: center;
    width: 90%;
    height: 90%;
    margin-left: 20px;
}

.principalseccion1{
    margin-left:  20px; 
    grid-column: 1 / 2;   
}

.principalseccion1 h2{
    
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
    
    
}

.principalimagen{
    
    width: 80%;
    height: 250px;
}

.principalseccion2{
    text-align:center;
    align-self: center;
    grid-column: 2 /3;
    font-size: 20px;
}


@media (max-width:478px){

    /* Aquí van todos los estilos CSS */

    .principalcontenedor{
        
        display: grid;
        grid-template-columns: 1fr 30%;
        grid-template-rows: repeat(6, auto);
    }
    .principalheader{
        
        text-align: center;
        

    }
    .principalseccion1{
        grid-column: 1 / 3;
        align-items: center;
        margin-right: 70px;
    }
    .principalseccion2{
        grid-column: 1 / 3;
        text-align: center;
        margin-left: 30px;
    }
    img.principalimagen{
        margin-left: 40px;
    }
    
    .principalanuncio{
       
        display: none;
        visibility:hidden;
        
    }
}


@media (max-width: 900px){
    /* Most of tablets and posibility phones*/
    .principalcontenedor{
        display: grid;
        grid-template-columns: 50% 40%;

    }

    .principalseccion1{
        margin: auto;
        margin-left: 20px;
    }

    .principalseccion2{
        font-size: 110%;
    }

    .principalanuncio{
        display: none;
        visibility: hidden;
    }
}








/*Css de Mauricio*/
.bisuteriajoyasrelojes {
    display: grid;
    grid-template-columns: 500px 500px 200px;
    grid-gap: 20px;
}

.imagenbisuteriareloj {
    width: 60%;
    height: 90%;
    margin-left: 150px;
    margin-right: 10px;
    background: brown;
    border: 10px groove rgb(209, 124, 27);
}

.textobisuteriajoyasrelojes {
    border: 2px groove mediumorchid;
    padding-bottom: 20px;
    padding-top: 10px;
    padding-left: 10px;
    margin-bottom: auto;
    border-radius: 3px;
     text-align: center;
}

.spam {
    display: none;
    visibility:hidden;
    margin-left: 10%;
}

.bisuteriapulsera {
    width: 80%;
    height: 250px;
}