.menuPrincipal{
    background-color: rgb(0, 0, 0);
    overflow: hidden;
}

.menuPrincipal a {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.menuPrincipal a:hover {
    background-color: rgb(163, 162, 162);
    color: black;
}

.menuPrincipal a.active {
    background-color: #04AA6D;
    color: white;
}

.barraBusqueda{
    text-align: right;
    overflow: hidden;
    background-color: #000000;
}

.barraBusqueda input {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    background-color: #f5f5f5;
}

.barraBusqueda button {
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    background: #04AA6D;
    font-size: 17px;
    border: none;
    cursor: pointer;
}